fastapi==0.65.1
requests==2.25.1
uvicorn==0.13.4
Jinja2
loguru
pydantic
starlette
SQLAlchemy==1.4.15
python-jose
casbin==1.0.6
casbin_sqlalchemy_adapter
tencentcloud-sdk-python
passlib
bcrypt
pymysql==1.0.2