bcrypt==3.2.0
bracex==2.1.1
casbin==1.0.6
casbin-sqlalchemy-adapter==0.3.1
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==7.1.2
cryptography==3.3.2
ecdsa==0.14.1
fastapi==0.65.1
greenlet==1.1.0
h11==0.12.0
idna==2.10
Jinja2==3.0.1
loguru==0.5.3
MarkupSafe==2.0.1
passlib==1.7.4
pyasn1==0.4.8
pycparser==2.20
pydantic==1.8.2
PyMySQL==1.0.2
python-jose==3.2.0
requests==2.25.1
rsa==4.7.2
simpleeval==0.9.10
six==1.15.0
SQLAlchemy==1.4.15
starlette==0.14.2
tencentcloud-sdk-python==3.0.404
typing-extensions==3.10.0.0
urllib3==1.26.4
uvicorn==0.13.4
wcmatch==8.2
